* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

/* ======================
=======GLOBAL STYLES=====
======================= */
body {
	font-family: sans-serif;
	backdrop-filter: blur(1rem);
	/* background:linear-gradient(to left top,  rgba(255, 192, 203, 0.507),  rgba(255, 192, 203, 0)); */
}
p {
	line-height: 1.4;
}
li,
a {
	list-style: none;
	text-decoration: none;
}

button {
	outline: none;
	border: none;
	padding: 1.2rem;
	margin-bottom: 0.5rem;
	width: 100%;
	font-size: 1.1rem;
}

.container {
	width: 80%;
	margin: 2rem auto;
}

/* ======================
=======HEADER STYLES=====
======================= */
header {
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

header nav {
}

header .features {
	position: absolute;
	width: 70%;
	height: 15.3%;
	right: -100%;
	top: 0.8%;
	background: rgba(0, 0, 0, 0.932);
}

header .features.show {
	right: 0;
}

header .features ul:first-child {
	margin: 2rem 1.3rem;
	font-size: 1.5rem;
}

header .features ul:first-child li {
	width: 100%;
	margin-bottom: 1rem;
}

header .features ul:first-child li::after {
	content: '';
	background: gray;
	width: 100%;
	height: 100%;
	left: 0;
}

header .features ul:last-child {
	display: flex;
	justify-content: space-between;
	position: absolute;
	bottom: 0;
	width: 100%;
	line-height: 2.5rem;
	font-size: 1.2rem;
	background: rgb(0, 0, 0);
}

header .features ul:last-child li a {
	padding: 0.5rem 1.2rem;
	color: white;
}

header .features ul:last-child li a:last-child:hover {
	background: blue;
}

header .hamburger__menu {
}

/* ======================
=======HERO STYLES=======
======================= */
main .hero__page {
	width: 100%;
	height: 100%;
}

main .hero__page img {
	width: 100%;
	margin-top: -10%;
}

main .hero__info {
}

main .hero__text {
}
main .hero__text h1 {
	font-size: 3rem;
}
main .hero__text p {
	margin-top: 1rem;
	font-size: 1.2rem;
}

main .hero__btn {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 1rem;
}

main .hero__btn {
}

main .hero__btn button:first-child {
	width: 100%;
	background: blue;
	color: white;
	font-weight: 700;
	border-radius: 0.3rem;
}

main .hero__btn button:last-child {
	background: transparent;
	font-weight: 800;
	color: blue;
	position: relative;
	width: max-content;
}

main .hero__btn button:last-child::after {
	content: '';
	position: absolute;
	width: 75%;
	height: 0.0839rem;
	background: blue;
	bottom: 30%;
	left: 50%;
	right: 50%;
	transform: translate(-50%, -50%);
}

main .check__marks {
}

main .check__mark {
	display: flex;
	align-items: center;
}
main .check__mark img {
	width: 2rem;
	margin: 0;
	object-fit: scale-down;
}

/* ======================
=======ABOUT STYLES======
======================= */
#about > *,
.about__services > * {
	margin-bottom: 2rem;
	margin-top: 3rem;
}

#about .about__question h3 {
	color: blue;
	font-size: 1rem;
}

#about .about__question h1 {
	font-size: 2rem;
}

#about .about__services {
}

#about .service > *,
.about__question > * {
	margin-bottom: 0.55rem;
}

/* ======================
=====PORTFOLIO STYLES====
======================= */
.portfolio {
	width: 100%;
	min-height: 100v;
	background: blue;
	padding: 3rem 2rem 0;
	border-radius: 0.5rem;
}

.portfolio__text {
	color: white;
}

.portfolio__text h1 {
	font-size: 2rem;
	margin-bottom: 0.5rem;
}

.portfolio__text p {
	color: rgb(238, 232, 232);
	font-size: 1.2rem;
}

.portfolio__text button {
	margin-top: 0.55rem;
	margin-bottom: 3rem;
	background: white;
	color: blue;
	border-radius: 0.3rem;
}

.portfolio_img {
	border-radius: 0.4rem;
	overflow: hidden;
}
.portfolio_img img {
	width: 100%;
	height: 24rem;
	object-fit: cover;
}

/* ======================
===TESTIMONAILS STYLES===
======================= */
.testimonails {
	margin-top: 4rem;
}

.testimonail {
	border: 1.5px solid rgba(128, 128, 128, 0.11);
	padding: 1rem;
	border-radius: 0.3rem;
	margin-bottom: 1rem;
}

.profile {
	display: flex;
	align-items: center;
	margin-bottom: 0.5rem;
}

.profile_img {
	width: 2.5rem;
}
.profile_img img {
	width: 100%;
}

.profile_title {
	margin-left: 0.5rem;
	font-size: 0.8rem;
}

.profile_title h3 {
	color: blue;
}

.profile_title {
}

.profile__text {
}
.profile__text button {
	border: 1.5px solid rgba(128, 128, 128, 0.11);
	background: white;
	border-radius: 0.2rem;
	color: blue;
	margin-top: 1rem;
}

/* ======================
=======FOOTER STYLES=====
======================= */
footer {
	margin: 5rem auto 2rem;
}

footer h1 {
	font-size: 1rem;
	font-weight: bold;
	margin-bottom: 0.5rem;
	margin-top: 2rem;
}

footer li a {
	font-size: 0.84rem;
}
/* ======================
=======DESKTOP STYLES====
======================= */
@media screen and (min-with: 1440px) {
	body {
		background: blue;
		font-size: 4rem;
	}

	header {
		display: flex;
	}
}
